html {
  height: 100%;
  max-width: none;
  font-family: "Source Sans 3", sans-serif;
}

body {
  background: rgb(255, 255, 255);
  background-image: linear-gradient(
    to bottom,
    #ffffff,
    #fafafa,
    #f5f5f5,
    #f0f0f0,
    #ebebeb,
    #e6e6e6,
    #e1e1e1,
    #dcdcdc,
    #d7d7d7,
    #d2d2d2,
    #cdcdcd,
    #c8c8c8
  );
  max-width: none;
  height: 100vh;
  min-height: 100%;
  color: #333333; /* Softer dark color for text */
}

/* Additional light theme styles for elements */

header {
  background-color: #ffffff;
  color: #333333;
  border-bottom: 1px solid #e6e6e6;
}

footer {
  background-color: #fafafa;
  color: #333333;
  border-top: 1px solid #e6e6e6;
}

a {
  color: #007acc; /* Lighter blue color for links */
}

button {
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #e6e6e6;
}

input,
textarea {
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #e6e6e6;
}

/* Update any other custom elements and components as needed */
